<div class="feed-entry">
<span class="feed-entry-published"><%= publishedDate %></span>
<span class="feed-entry-title"><a href="<%= link %>"><%= title %></a></span>
<p><%= contentSnippet %><p>
</div>

