<div class="feed-entry">
    <span class="entry-published entry-published-feed"><%= friendlyPublishedDate %></span>
    <span class="entry-title entry-title-feed"><a href="<%= link %>"><%= title %></a></span>
    <p class="entry-summary entry-summary-feed"><%= contentSnippet %><p>
</div>


