<header class="header">
  <div class="catchImage">
    <div class="container">
      {% unless is_top == true %}
      <h1>{{ title }}</h1>
      {% if is_single == true %}
      {% unless meta == false %}
      <div class="header-meta">
        {% if category %}
        <span class="entry-categories">
          <i class="fa fa-folder"></i> {{ category }}
        </span>
        {% endif %}
        <span class="entry-date"><time datetime="{{ page.date | date_to_xmlschema }}" class="published" pubdate{% if updated %} data-updated="true"{% endif %}>{{ page.date | date: '%B %d, %Y' }}</time></span>
      </div>
      {% endunless %}
      {% endif %}
      {% endunless %}
    </div>
  </div>
</header>
