{% if is_top %}
{% assign home_url = "#top" %}
{% else %}
{% if lang == 'ja' %}
{% assign home_url = "/ja/" %}
{% else %}
{% assign home_url = "/" %}
{% endif %}
{% endif %}
<nav id="mainNavBar" class="mainNavBar navbar navbar-expand-sm navbar-light" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ home_url }}">
      <img class="logo-image" src="{% asset_path images/logo-200.png %}" alt="{{ site.author.screen_name }}" />
      <div class="logo-suffixText"><span class="logo-suffixText-first">AKOTO_</span><span class="logo-suffixText-last">KW</span></div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        {% if lang == 'ja' %}
        <li class="nav-item nav-item-portfolio"><a class="nav-link" href="/ja/portfolio"><i class="fa fa-briefcase"></i> Software</a></li>
        <li class="nav-item nav-item-gitHub"><a class="nav-link" href="{{ site.github_url }}"><i class="fab fa-github"></i> Code</a></li>
        <li class="nav-item nav-item-blog"><a class="nav-link" href="{{ site.blog_ja_url }}"><i class="fab fa-wordpress-simple"></i> Blog</a></li>
        <li class="nav-item nav-item-qiita"><a class="nav-link" href="{{ site.qiita_url }}"><i class="fas fa-search"></i> Qiita</a></li>
        {% else %}
        <li class="nav-item nav-item-portfolio"><a class="nav-link" href="/portfolio"><i class="fa fa-briefcase"></i> Software</a></li>
        <li class="nav-item nav-item-gitHub"><a class="nav-link" href="{{ site.github_url }}"><i class="fab fa-github"></i> Code</a></li>
        <li class="nav-item nav-item-blog"><a class="nav-link" href="/blog"><i class="fa fa-book"></i> Blog</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

