

.article {

  .articleTitle {
    color: $blue-dark;
    margin: 0;
    font-weight: 400;
  }

  .articleHeader {

    .articleCategories {
      color: $silver;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-right: 5px;
      a {
        color: $silver;
      }
    }
    .articleDate {
      color: $silver;
      &:before {
        font-family: FontAwesome;
        content: $fa-var-clock-o;
        margin-right: 3px;
      }
      .articlePublished {
        text-transform: uppercase;
      }
    }
  }

  .articleContent {
    line-height: 1.831;
    color: lighten($text-color, 25%);
    @include clearfix;
  }

  .articleSummary {
    line-height: 1.831;
    color: lighten($text-color, 25%);
    @include clearfix;
  }

  .articleMeta {
    margin-top: 10px;
  }
}

.articleFooter {
  .share {
    margin: 10px 0 10px 0;
  }
}

