

.entry {

  .entry-header {
    .entry-title {
      color: $blue-dark;
      margin: 0;
      font-weight: 400;
    }
    .entry-categories {
      color: $silver;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-right: 5px;
      a {
        color: $silver;
      }
    }
    .entry-date {
      color: $silver;
      &:before {
        font-family: FontAwesome;
        content: $fa-var-clock-o;
        margin-right: 3px;
      }
      .published {
        text-transform: uppercase;
      }
    }
  }

  .entry-content {
    line-height: 1.831;
    color: lighten($text-color, 25%);
    @include clearfix;
  }

  .entry-meta {
    margin-top: 10px;
  }
}

.entry-footer {
  .share {
    margin: 10px 0 10px 0;
  }
}

