
@mixin block ($borderRadius) {
  padding: 24px;
  background-color: $white;
  background-color: $blue-light;
  border: 2px solid $blue-light;
  border-radius: $borderRadius;
}

@mixin block-withAwesomeIcon($fontSize) {
  float: left;
  margin-right: 20px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal $fontSize FontAwesome;
  vertical-align: text-bottom;
}

@mixin ghostButton($witdh, $height, $paddingLeft, $paddingTop) {
  @include transition(all .3s ease);
  //font-family: 'NovecentowideBookBold';
  font-family: 'NovecentowideLightRegular';
  border-radius: 0;
  background: transparent;
  padding: $paddingLeft $paddingTop;
  width: $witdh;
  height: $height;
  display: block;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

// ======================================
// responsive
// ======================================

@mixin desktopScreen() {
  @media screen and (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin mobileScreen() {
  @media screen and (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin unlessDesktopScreen() {
  @media screen and (max-width: $screen-xs-max) {
    @content;
  }
}