.header {
  .catchImage {
    min-height: 300px;
    background-size: cover;
    background: $blue-dark url('makotokw2016/images/bg-home.png') center;
    .container {
      padding: 2em;
      color: $white;
      line-height: normal;
      text-align: center;

      h1 {
        font-family: $pageTitle-font;
        font-weight: $pageTitle-fontWeight;
        margin: 2em auto 0;
        //font-size: 3.2rem;
        color: $white;

        .site-single & {
          font-family: $default-font;
          font-weight: 400;
        }
      }
      .header-meta {
        font-size: 2rem;
        font-style: italic;
        line-height: 1.8;
        margin: 0 auto 2em;
      }
      .entry-categories {
        text-transform: uppercase;
      }
      .entry-date {
        margin-left: 1em;
        .published {
          color: $white;
        }
      }
    }
  }
  .authorIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    position: relative;
    border: 2px solid $white;
    border-radius: 50px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.35);
  }
  .authorIcon-isPinned {
    top: -50px;
    margin-bottom: -50px;
  }
  .authorSummary {
    margin-top: 1em;
    text-align: center;
  }
}