.mainContent {
  padding-top: 12px;
  .container {
    padding: 12px;
    @media screen and (min-width: 600px) {
      padding: 24px;
    }
  }
}

.navigationPostSection,
.commentSection {
  @include clearfix;
  margin-top: 20px;
}


