$mainNavBarHeight: 65px;
.mainNavBar {
  min-height: $mainNavBarHeight;
  line-height: $mainNavBarHeight;

  // reset bootstrap nav-nav
  .navbar-nav {
    min-height: $mainNavBarHeight;
    line-height: $mainNavBarHeight;
    > li > a {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .navBar-buttonContainer {
    float: right;
    min-height: $mainNavBarHeight;
    line-height: $mainNavBarHeight;
    .navbar-toggle {
      float: none;
      padding: 0 10px;
      margin-top: 10px;
    }
  }

  .navItem {
    min-height: $mainNavBarHeight;
    line-height: $mainNavBarHeight;
    font-size: $font-size-small;
    margin-top: 0;
    margin-bottom: 0;

    > a {
      font-weight: 400;
      text-transform: uppercase;
      min-height: $mainNavBarHeight;
      line-height: $mainNavBarHeight;
      color: $grey-300;
      &:hover {
        color: $grey-100;
      }
    }
  }

  .navItem-home {
    > a {
      .fa {
        font-size: 1.5em;
      }
    }
  }

  .navbar-collapse.in {
    border-bottom: 1px solid;
  }
  .collapsing, .in {
    .navBarItems > .navItem > a {
      min-height: unset;
      line-height: normal;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}