$section-title-font-size: 50px;
$circle-menu-font-size: 16px;
$circle-menu-font-size-sm: 14px;
$circle-menu-font-size-xs: 12px;
$circle-menu-size: 170px;
$circle-menu-size-sm: 140px;
$circle-menu-size-xs: 104px;

$lang-menu-item-width: 170px;
$lang-menu-item-height: 30px;

$page-home-title-font-size: 60px;
$page-home-height: 450px;
$page-home-width: 1170px;

//.site-top {
//  .menu-top {
//    .nav {
//      a {
//        color: $silver;
//      }
//      .active {
//        a {
//          color: $white;
//        }
//      }
//    }
//  }
//}

.page-section {
  padding: 60px 0;
  background-size: cover;
  background-position: top center;

  .container {
    position: relative;
    overflow: hidden;
  }

  .section-title {
    font-size: $section-title-font-size;
    line-height: $section-title-font-size;
    margin-bottom: $section-title-font-size * 0.8;
    font-weight: normal;
    font-family: 'NovecentowideBookBold';
  }

  .btn-archives {
    @extend .pull-right;
  }

  .list-feed-entry {
    .feed-entry {
      margin-bottom: 1em;

      a {
        color: $text-color;

        &:hover {
          color: $link-hover-color;
        }
      }

      .entry-title {
        font-size: $font-size-h4;
        display: inline;
        font-weight: normal;
      }

      .entry-published {
        @extend .label;
        border-radius: 0;
        font-size: $font-size-small;
        display: inline;
        margin-right:.5em;
        padding: 3px 6px;
        line-height: 1.2em;
      }

      .entry-summary {
        font-size: $font-size-small;
        color: $gray-dark;
        padding: 6px 0;
      }
    }
  }

  &:nth-child(even) {
    background: $blue-dark;
    color: $white;
    .feed-entry {
      a {
        color: $white;
        &:hover {
          color: $link-hover-color;
        }
      }
      .entry-summary {
        color: $silver;
      }
    }
  }
}

// page-home

.page-home {
  padding: 0;

  .container {
    padding: 50px 0;
  }

  .site-name {
    margin: 0;
    font-size: $page-home-title-font-size;
    text-align: center;
    font-family: 'NovecentowideBookBold';
    font-weight: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    .domain-site {
      color: $link-color;
    }
    .domain-top {
      color: $blue-dark;
    }
  }

  .row-site-info {
    margin-bottom: 70px;
  }

}

.page-home-full {
  width: 100%;
  height: 100%;
  .container {
    padding: 0;
    position: absolute;
    height: $page-home-height;
    width: $page-home-width;
    top: 50%;
    left: 50%;
    margin-top: -$page-home-height/2;
    margin-left: -$page-home-width/2;
  }
}

.menu-home-3 {
  width: 3 * ($circle-menu-size + 30);
}
.menu-home-4 {
  width: 4 * ($circle-menu-size + 30);
}

.menu-home {
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @include clearfix;

  .menu-home-item {
    float: left;
    min-height: 1px;
    margin-left: 20px;
    position: relative;

    &:nth-child(even) {
      .circle-menu {
        background: $blue-dark;
      }
    }
  }

  .arrow {
    display: block;
    width: 18px;
    height: 9px;
    margin-left: -9px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: $white;
  }
}

.menu-label {
  width: $circle-menu-size;
  height: $circle-menu-size;
  display: block;
  display: table-cell;
  background: $link-color;
  border-radius: 50%;
  text-align: center;
  color: $white;
  vertical-align: middle;
  margin: auto;
  position: relative;
  font-size: $circle-menu-font-size;
  letter-spacing: 0px;

  .label-link {
    position: relative;
    display: inline-block;
    @include transition(all 1s ease);
    color: $white;
    //font-family: 'NovecentowideBookBold';
    font-family: 'NovecentowideLightRegular';
  }

  &:hover {
    background: $link-hover-color;
    .label-link {
      transform: rotate(360deg);
      color: $white;
    }
  }
}

.menu-lang {
  list-style: none;
  margin: 35px auto 10px auto;
  padding: 0;
  width: $lang-menu-item-width * 2 + 20;

  .menu-lang-item {
    display: inline-block;
    @include transition(all 1s ease);
    //font-family: 'NovecentowideBookBold';
    font-family: 'NovecentowideLightRegular';
    background: $blue-dark;
    width: $lang-menu-item-width;
    height: $lang-menu-item-height;
    text-align: center;

    a {
      width: $lang-menu-item-width;
      height: $lang-menu-item-height;
      display: block;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $white;
    }
  }
}

@import "top/page-portfolio";

// page-blog

.page-blog {
  .section-title {
    a {
      color: $blue;
    }
  }
  .list-feed-entry {
    .feed-entry {
      .entry-title {
      }
      .entry-published {
        background-color: $blue;
      }
    }
  }
}

.page-github {
  .section-title {
    a {
      color: $githubOrange;
    }
  }
  .list-feed-entry {
    .feed-entry {
      .entry-published {
        background-color: $githubOrange;
      }
    }
  }
  .github-widget {
    clear: both;
    padding: 15px;
  }
}

.page-qiita {
  .section-title {
    a {
      color: $green;
    }
  }
  .list-feed-entry {
    .feed-entry {
      .entry-published {
        background-color: $green;
      }
    }
  }
}

// ======================================
// respnsive
// ======================================

@media (min-height: $screen-sm-min) {
  .last-section {
    min-height: $screen-sm-min + 50px;
  }
}

// large-desktop -
// -----------------
@media (min-width: $screen-lg-min) {
}


// - large desktop
// --------------------
@media (max-width: $screen-md-max) {
  .page-home {
    .site-name {
      font-size: $page-home-title-font-size * $circle-menu-size-sm / $circle-menu-size;
    }
    .menu-home-3 {
      width: 3 * ($circle-menu-size-sm + 30);
    }
    .menu-home-4 {
      width: 4 * ($circle-menu-size-sm + 30);
    }
    .menu-home-item {
      width: $circle-menu-size-sm;
    }
    .menu-label {
      font-size: $circle-menu-font-size-sm;
      height: $circle-menu-size-sm;
    }
  }
}

// small desktop
// --------------------
@media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
}

// - small desktop
@media (max-width: $screen-sm-max) {
  .page-section {
    background-attachment: scroll !important;
  }

  .page-home {
    .menu-home-3 {
      width: 3 * ($circle-menu-size-xs + 30);
    }
    .menu-home-4 {
      width: 4 * ($circle-menu-size-xs + 30);
    }
    .menu-home-item {
      width: $circle-menu-size-xs;
    }
    .menu-label {
      height: $circle-menu-size-xs;
      font-size: $circle-menu-font-size-xs;
      &:hover {
        .label-link {
          transform: scale(1) rotate(0deg) translate(0px);
          color: $white;
        }
      }
    }
  }

  .page-home-full {
    .container {
    }
  }
}

// phone, tablet
@media (max-width: $screen-xs-max) {
  body {
    padding: 0;
  }
  .page-section {
    padding: 30px 20px 30px 20px;
  }
  .page-home {
    padding: 30px 0 30px 0;
    .row-site-info {
      margin-bottom: 30px;
    }
    .site-name {
      text-align: center;
      float: none;
    }

    .site-description {
      text-align: center;
      float: none;
      line-height: 20px;
    }

    .menu-home {
      width: auto;
      margin-left: 0;
    }

    .menu-home-item {
      float: none;
      width: $circle-menu-size;
      margin: 20px auto 0;
    }
    .menu-label {
      font-size: $circle-menu-font-size;
      width: $circle-menu-size;
      height: $circle-menu-size;
    }


  }

  .page-home-full {
    height: auto !important;
    .container {
      height: auto;
      width: auto;
      position: relative;
      padding: 0;
      top: auto;
      left: auto;
      margin: 0;
    }
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .navbar {
    .nav {
      float: left;
    }
  }

  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin: 0;
  }
}

@media only screen and (min-device-width: $screen-sm-min) and (max-device-width: $screen-md-max) and (orientation: landscape) {

  .menu-label {
    height: $circle-menu-size-xs;
    &:hover {
      .label-link {
        transform: scale(1) rotate(0deg) translate(0px);
        color: $white;
      }
    }
  }
}

@media only screen and (max-device-width: $screen-md-max) {

}