# /node_modules/* and /bower_components/* in the project root are ignored by default

# include dotfiles
!/.*

# static files
src/site/assets/

# old school
src/assets/scripts.gulp/

# built files
dist/
.tmp/

# configuration files
.idea/
