### makotokw.com ###
.jekyll
.tmp
.idea
/dist
/_tmp
/source/_assets/components
/source/assets/components

### Jekyll ###
.sass-cache
.rspec
/.bundle
/vendor/bundle

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Bower ###
bower_components

### Node ###
npm-debug.log
node_modules