### makotokw.com ###
.tmp
.env
.idea
/dist
/_tmp
/source/_assets/vendor/
/source/assets/vendor/

### Ruby, Jekyll, Sass ###
.ruby-version
.asset-cache
.sass-cache
.rspec
/.bundle
/vendor/bundle

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Bower ###
source/_bower*

### Node ###
npm-debug.log
node_modules
