### makotokw.com ###
.tmp
.env
.idea
/dist
/dist.*
/_tmp
/source/_assets/vendor/
/source/assets/vendor/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### Bower ###
source/_bower*

### Node ###
npm-debug.log
node_modules
