<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include html_head.html %}
<body class="site site-{{page.lang}} {{layout.cls}}">
<div id="top"></div>
{% if !layout.is_top %}
<a href="#content" class="sr-only">Skip to content</a>
{% endif %}
{% include navbar.html %}
{% include header.html %}
{% if layout.is_top %}
<div role="main">
{{ content }}
</div>
{% else %}
<div class="mainContent" role="main">
    <div id="content" class="container">
        {{ content }}
    </div>
    <div id="footerMargin"></div>
</div>
{% endif %}
{% include footer.html %}
{% javascript vendor %}
{% javascript app %}
</body>
</html>