<!DOCTYPE html>
<html lang="{{ lang }}">
{% include html_head.html %}
<body class="site site-{{lang}} {{cls}}">
<div id="top"></div>
{% if is_top != true %}
<a href="#content" class="sr-only">Skip to content</a>
{% endif %}
{% include navbar.html %}
{% include header.html %}
{% if is_top == true %}
<div role="main">
{{ content }}
</div>
{% else %}

<div class="mainContent" role="main">
  <div id="content" class="container">
    {{ content }}
  </div>
  <div id="footerMargin"></div>
</div>
{% endif %}

{% include footer.html %}
<script src="{% asset_path vendor.js %}"></script>
<script src="{% asset_path main.js %}"></script>
</body>
</html>
