---
layout: default
cls: site-archives-portfolio
---
<div class="archives archives-portfolio">
  <h1 class="archives-title">Portfolio</h1>
  <div class="archives-entries">
    <div class="container-fluid">
      {% for p in page.portfolios %}
      {% capture this_year %}{{ p.copyright_year }}{% endcapture %}
      <div class="row">
        <div class="col-md-2">
          {% unless year == this_year %}
          {% assign year = this_year %}
          <h2 class="year">{{ year }}</h2>
          {% endunless %}
        </div>
        <div class="col-md-10">
          {% capture entry_class %}entry-default{% endcapture %}
          {% if p.deprecated %}
          {% capture entry_class %}entry-isDeprecated{% endcapture %}
          {% else %}
          {% if p.status == 'active' %}
          {% capture entry_class %}entry-isActive{% endcapture %}
          {% endif %}
          {% endif %}
          <article class="entry entry-post {{entry_class}}">
            {% for c in p.categories %}
            <span class="label label-portfolio label-portfolio-{{ c }}">{{ c|portfolio_tag_name }}</span>
            {% endfor %}
            <h1 class="entry-title">
              {% if p.url %}
              <a href="{{ p.url }}">{{p.name}}</a>
              {% else %}
              {{p.name}}
              {% endif %}
            </h1>
            {% if p.source_url %}
            <span class="label label-portfolio label-portfolio-source">
              <a href="{{ p.source_url }}" title="Source Code"><i class="fa fa-github"></i></a>
            </span>
            {% endif %}
          </article>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>