---
layout: default
cls: site-archives-portfolio
single: false
is_top: false
footer: false
---
<div class="archives archives-portfolio">
    <h1 class="entry-title">Portfolio</h1>
    <div class="archives-entries archives-entries-portfolio">
        <div class="container-fluid">
            {% for p in page.portfolios %}
            {% capture this_year %}{{ p.copyright_year }}{% endcapture %}
            <div class="row">
                <div class="col-md-2">
                    {% unless year == this_year %}
                    {% assign year = this_year %}
                    <h2 class="year">{{ year }}</h2>
                    {% endunless %}
                </div>
                <div class="col-md-10">
                    <article class="entry entry-post">
                        {% for c in p.categories %}
                        <span class="entry-category entry-category-{{ c }}">{{ c }}</span>
                        {% endfor %}

                        <h1>
                            {% if p.url %}
                            <a href="{{ p.url }}">{{p.name}}</a>
                            {% else %}
                            {{p.name}}
                            {% endif %}
                        </h1>
                    </article>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>