---
layout: default
cls: site-top
single: false
is_top: true
footer: true
---
<div id="prePage" class="pre-page"></div>
<div id="homeView">

    <section id="pageHome" class="page page-section page-home">
        <div class="container">
            <div class="row row-site-info">
                <h1 class="site-name"><span class="domain-site">makotokw</span>.<span class="domain-top">com</span></h1>
            </div>
            <div class="row row-site-menu">
                <ul id="menuHome" class="menu-home {% if page.lang == 'ja' %}menu-home-4{% else %}menu-home-3{% endif %}">
                    <li class="menu-home-item">
                        <a class="menu-label" href="#blog"><span class="label-link">Blog</span></a>
                        <span class="arrow"><i class="fa fa-chevron-down"></i></span>
                    </li>
                    <li class="menu-home-item">
                        <a class="menu-label" href="./portfolio/"><span class="label-link">Portfolio</span></a>
                    </li>
                    <li class="menu-home-item">
                        <a class="menu-label" href="#github"><span class="label-link">GitHub</span></a>
                        <span class="arrow"><i class="fa fa-chevron-down"></i></span>
                    </li>
                    {% if page.lang == 'ja' %}
                    <li class="menu-home-item">
                        <a class="menu-label" href="#qiita"><span class="label-link">Qiita</span></a>
                        <span class="arrow"><i class="fa fa-chevron-down"></i></span>
                    </li>
                    {% endif %}
                </ul>

                <ul class="menu-lang">
                    {% if page.lang == 'ja' %}
                    <li class="menu-lang-item menu-lang-item-en">
                        <a href="/" class="btn btn-lang">English</a>
                    </li>
                    <li class="menu-lang-item menu-lang-item-ja menu-lang-item-active">
                        <a href="/ja/" class="btn btn-lang">Japanese</a>
                    </li>
                    {% else %}
                    <li class="menu-lang-item menu-lang-item-en menu-lang-item-active">
                        <a href="/" class="btn btn-lang">English</a>
                    </li>
                    <li class="menu-lang-item menu-lang-item-ja">
                        <a href="/ja/" class="btn btn-lang">Japanese</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </section>


    <section id="pageBlog" class="page page-section page-blog">
        <div class="container">
            {% if page.lang == 'ja' %}
            <h2 class="section-title"><span>Blog</span> on <a href="{{ site.blog_ja_url }}" title="Kwlog">Kwlog</a></h2>
            <div id="feedBlogContent" class="feed-content feed-content-blog">
                <i class="fa fa-spinner fa-spin"></i>
                Loading...
            </div>
            <div class="section-footer">
                <a href="{{ site.blog_ja_url }}" class="btn btn-default btn-raised btn-archives" title="kwLog Archives" target="_blank">Archives</a>
            </div>
            {% else %}
            <h2 class="section-title"><i class="fa fa-book"></i> <a href="{{ site.path }}/blog/" title="Blog">Blog</a></h2>
            <div class="feed-content feed-content-blog">
                <ul class="list-feed-entry list-unstyled">
                    {% for post in site.posts limit: 5 %}
                    <li class="feed-entry">
                            <span class="entry-published">
                                {{ post.date|date: "%Y/%m/%d" }}
                            </span>
                            <span class="entry-title">
                                <a href="{{ site.path }}{{ post.url }}">{{ post.title }}</a>
                            </span>
                        <p class="entry-summary">{{ post.content|strip_html|truncate:100 }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="section-footer">
                <a href="{{ site.path }}/blog/" class="btn btn-default btn-raised btn-archives" title="Blog Archives">Archives</a>
            </div>
            {% endif %}
        </div>
    </section>

    <!--<section id="pagePortfolio" class="page page-section page-portfolio">-->
        <!--<div class="container">-->
            <!--<h2 class="section-title">My <span>Portfolio</span></h2>-->
            <!--<div id="portfolioTagListView"></div>-->
            <!--<div id="portfolioListView"></div>-->

            <!--<div class="section-footer">-->
                <!--<a href="./portfolio/" title="Portfolio">Archives</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <section id="pageGithub" class="page page-section page-github">
        <div class="container">
            <h2 class="section-title"><a href="{{ site.github_url }}" title="GitHub">GitHub</a></h2>
            <h3>Activities</h3>
            <div id="feedGithubContent" class="feed-content feed-content-blog">
                <i class="fa fa-spinner fa-spin"></i>
                Loading...
            </div>
            <div class="section-footer">
                <a href="{{ site.github_url }}" class="btn btn-default btn-raised btn-archives" title="GitHub Archives" target="_blank">Archives</a>
            </div>
            <div class="github-cards">
                <script src="http://lab.lepture.com/github-cards/widget.js"></script>
                <script
                        data-name="makotokw"
                        data-modules="base,details,stats,repos,eventsStatis,orgs"
                        data-reposNum="3"
                        src="http://octocard.in/o.js">
                </script>
            </div>
        </div>

    </section>

    <section id="pageQiita" class="page page-section page-qiita">
        <div class="container">
            <h2 class="section-title"><a href="{{ site.qiita_url }}" title="Qiita">Qiita</a></h2>
            <div id="feedQiitaContent" class="feed-content feed-content-blog">
                <i class="fa fa-spinner fa-spin"></i>
                Loading...
            </div>
            <div class="section-footer">
                <a href="{{ site.qiita_url }}" class="btn btn-default btn-raised btn-archives" title="Qiita Archives" target="_blank">Archives</a>
            </div>
        </div>
    </section>

</div>