---
layout: default
cls: site-top
single: false
is_top: true
footer: true
---
<div id="homeView">

  <section id="portfolio" class="topSection topSection-portfolio">
    <div class="container">
      <div class="topSectionContent">
        <div class="row">
          <div class="col-md-6">
            <div class="topSubSection topSubSection-software">
              <h3 class="topSubSectionTitle">Software</h3>
              <div id="recentPortfolioList">
                <i class="fa fa-spinner fa-spin"></i>
                Loading...
              </div>
              <div class="topSubSectionFooter">
                <a href="./portfolio/" class="btn archiveButton" title="Portfolio Archives">Archives</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="topSubSection topSubSection-github">
              <h3 class="topSubSectionTitle">Code</h3>
              <div class="gitHubCards">
                <div id="octocard"></div>
              </div>
              <div class="topSubSectionFooter">
                <a href="{{ site.github_url }}" class="btn archiveButton" title="GitHub Archives"
                   target="_blank">Archives</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="article" class="topSection topSection-article">
    <div class="container">
      <div class="topSectionContent">
        <div class="row">
          <div class="col-md-6">
            <div class="topSubSection topSubSection-blog">
              {% if page.lang == 'ja' %}
              <h3 class="topSubSectionTitle">Blog</h3>
              <div id="feedBlogContent" class="feedContent feedContent-blog">
                <i class="fa fa-spinner fa-spin"></i>
                Loading...
              </div>
              <div class="topSubSectionFooter">
                <a href="{{ site.blog_ja_url }}" class="btn archiveButton" title="Blog Archives" target="_blank">Archives</a>
              </div>
              {% else %}
              <h3 class="topSubSectionTitle">Blog</h3>
              <div class="feedContent feedContent-blog">
                <ul class="feedArticleList list-unstyled">
                  {% for post in site.posts limit: 5 %}
                  <li class="entry">
                    <div class="entry-header">
                      <span class="entry-date">{{ post.date|date: "%Y/%m/%d" }}</span>
                      <span class="entry-title"><a href="{{ site.path }}{{ post.url }}">{{ post.title }}</a></span>
                    </div>
                    <p class="entry-summary">{{ post.content|strip_html|truncate:100 }}</p>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="topSubSectionFooter">
                <a href="{{ site.path }}/blog/" class="btn archiveButton" title="Blog Archives">Archives</a>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="topSubSection topSubSection-qiita">
              <h3 class="topSubSectionTitle">Qiita</h3>
              <div id="feedQiitaContent" class="feedContent feedContent-qiita">
                <i class="fa fa-spinner fa-spin"></i>
                Loading...
              </div>
              <div class="topSubSectionFooter">
                <a href="{{ site.qiita_url }}" class="btn archiveButton" title="Qiita Archives"
                   target="_blank">Archives</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="aboutMe" class="topSection topSection-aboutMe">
    <div class="container">
    </div>
  </section>

  <!--<section id="pagePortfolio" class="page page-section page-portfolio">-->
  <!--<div class="container">-->
  <!--<h2 class="section-title">My <span>Portfolio</span></h2>-->
  <!--<div id="portfolioTagListView"></div>-->
  <!--<div id="portfolioListView"></div>-->

  <!--<div class="section-footer">-->
  <!--<a href="./portfolio/" title="Portfolio">Archives</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</section>-->

</div>
{% javascript top %}