---
layout: default
cls: site-top
single: false
is_top: true
footer: true
---
<div id="homeView">

  <section id="portfolio" class="topSection topSection-portfolio">
    <div class="container">
      <h2 class="topSectionTitle"><span>Portfolio</span></h2>
      <div class="topSectionContent">
        <div class="row">
          <div class="col-md-6">
            <h3 class="topSubSectionTitle">Software</h3>
            <a href="./portfolio/" class="btn archiveButton" title="Portfolio Archives">Archives</a>
          </div>
          <div class="col-md-6">
            <h3 class="topSubSectionTitle">Source Code</h3>
            <div class="githHubCards">
              <script src="http://lab.lepture.com/github-cards/widget.js"></script>
              <script
                data-name="makotokw"
                data-modules="base,details,stats,repos,eventsStatis,orgs"
                data-reposNum="3"
                src="http://octocard.in/o.js">
              </script>
            </div>
            <a href="{{ site.github_url }}" class="btn archiveButton" title="GitHub Archives"
               target="_blank">Archives</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="article" class="topSection topSection-article">
    <div class="container">
      <h2 class="topSectionTitle"><span>Article</span></h2>
      <div class="topSectionContent">
        <div class="row">
          <div class="col-md-6">
            {% if page.lang == 'ja' %}
            <h3 class="topSubSectionTitle"><span>Blog</span> on <a href="{{ site.blog_ja_url }}" title="Kwlog">Kwlog</a></h3>
            <div id="feedBlogContent" class="feedContent feedContent-blog">
              <i class="fa fa-spinner fa-spin"></i>
              Loading...
            </div>
            <div class="topSubSectionFooter">
              <a href="{{ site.blog_ja_url }}" class="btn archiveButton" title="kwLog Archives"
                 target="_blank">Archives</a>
            </div>
            {% else %}
            <h2 class="topSubSectionTitle"><i class="fa fa-book"></i> <a href="{{ site.path }}/blog/" title="Blog">Blog</a></h2>
            <div class="feedContent feedContent-blog">
              <ul class="feedArticleList list-unstyled">
                {% for post in site.posts limit: 5 %}
                <li class="article">
                  <span class="articlePublished">{{ post.date|date: "%Y/%m/%d" }}</span>
                  <span class="articleTitle"><a href="{{ site.path }}{{ post.url }}">{{ post.title }}</a></span>
                  <p class="articleSummary">{{ post.content|strip_html|truncate:100 }}</p>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="topSubSectionFooter">
              <a href="{{ site.path }}/blog/" class="btn archiveButton"
                 title="Blog Archives">Archives</a>
            </div>
            {% endif %}
          </div>
          <div class="col-md-6">
            <h3 class="topSubSectionTitle"><a href="{{ site.qiita_url }}" title="Qiita">Qiita</a></h3>
            <div id="feedQiitaContent" class="feedContent feedContent-qiita">
              <i class="fa fa-spinner fa-spin"></i>
              Loading...
            </div>
            <div class="topSubSectionFooter">
              <a href="{{ site.qiita_url }}" class="btn archiveButton" title="Qiita Archives"
                 target="_blank">Archives</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="aboutMe" class="topSection topSection-aboutMe">
    <div class="container">
    </div>
  </section>

  <!--<section id="pagePortfolio" class="page page-section page-portfolio">-->
  <!--<div class="container">-->
  <!--<h2 class="section-title">My <span>Portfolio</span></h2>-->
  <!--<div id="portfolioTagListView"></div>-->
  <!--<div id="portfolioListView"></div>-->

  <!--<div class="section-footer">-->
  <!--<a href="./portfolio/" title="Portfolio">Archives</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</section>-->

</div>