

.entry {

  .entry-header {

    position: relative;
    padding-top: 2em;
    padding-bottom: 1.5em;

    .entry-title {
      color: $carrot;
      margin: 0;
      font-weight: 400;
    }

    .published {
      position: absolute;
      top: 0;
    }
  }

  .entry-content {
    line-height: 1.831;
    color: lighten($text-color, 25%);
    @include clearfix;
  }

  .entry-meta {
    margin-top: 20px;
    i {
      color: $link-color;
    }
  }
}

.blog-archives {
  .year {
    color: $carrot;
    margin-top: 0;
  }
  .entry {
    position: relative;
    padding-left: 4.5em;
    padding-bottom: .7em;
    margin-bottom: 1em;

    h1 {
      font-size: 1.5em;
      line-height: 1.4em;
      margin: 5px 0 .5em;
      font-weight: normal;
      //font-size: $baseFontSize;
    }
    time {
      position: absolute;
      text-align: right;
      left: 0;
      top: 5px;
    }
    .entry-categories {
      font-family: $font-family-sans-serif-alt;
      color: $gray-light;
    }
  }
}