@font-face {
  font-family: 'NovecentowideBookBold';
  src: url('fonts/Novecentowide-Bold-webfont.eot');
  src: url('fonts/Novecentowide-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Novecentowide-Bold-webfont.woff') format('woff'), url('fonts/Novecentowide-Bold-webfont.ttf') format('truetype'), url('fonts/Novecentowide-Bold-webfont.svg#NovecentowideBookBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NovecentowideLightRegular';
  src: url('fonts/Novecentowide-Light-webfont.eot');
  src: url('fonts/Novecentowide-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Novecentowide-Light-webfont.woff') format('woff'), url('fonts/Novecentowide-Light-webfont.ttf') format('truetype'), url('fonts/Novecentowide-Light-webfont.svg#NovecentowideLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.year, .month, .day,
.published {
  font-family: $font-family-sans-serif-alt;
  text-transform: uppercase;
  color: $gray-light;
}

.block-content {
  @include block($border-radius-base);
  color: $white;
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}






