
.year, .month, .day,
.published {
  font-family: $font-family-sans-serif-alt;
  text-transform: uppercase;
  color: $gray-light;
}

.block-content {
  @include block($border-radius-base);
  color: $white;
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}






