---
layout: default
title: Blog Archive
footer: false
---

{% for post in site.posts reverse %}
<article class="hentry">
    {% capture category %}{{ post.categories | size }}{% endcapture %}
    <h1><a href="{{ site.url }}{{ post.url }}">{{post.title}}</a></h1>
    <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>
        {{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span>"}}
    </time>
    <p class="entry-content">
        {{ post.content }}
    </p>
    {% if category != '0' %}
    <footer>
        <span class="categories"><i class="icon-folder-close"></i> {{ post.categories | category_links }}</span>
    </footer>
    {% endif %}
</article>
{% endfor %}
