<footer class="footer" role="footer">
    <div class="container">
        <p class="copyright">
            &copy; Copyright 2013 makotokw.com.
            {% if page.lang == 'ja' %}
            <a href="{{ site.twitter_ja_url }}" title="twitter"><i class="fa fa-twitter-square"></i></a>
            {% else %}
            <a href="{{ site.twitter_url }}" title="twitter"><i class="fa fa-twitter-square"></i></a>
            {% endif %}
            <a href="{{ site.google_url }}" title="Google+"><i class="fa fa-google-plus-square"></i></a>
            <a href="{{ site.linkedin_url }}" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
            <a href="{{ site.github_url }}" title="GitHub"><i class="fa fa-github-square"></i></a>
        </p>
    </div>

</footer>