<header class="header">
  <div class="catchImage">
    <div class="container">
      {% unless is_top == true %}
      <h1>{{ title }}</h1>
      {% if is_single == true %}
      {% unless meta == false %}
      <div class="header-meta">
        {% if category %}
        <span class="entry-categories">
          <i class="fa fa-folder"></i> {{ category }}
        </span>
        {% endif %}
        <span class="entry-date"><time datetime="{{ page.date | date_to_xmlschema }}" class="published" pubdate{% if updated %} data-updated="true"{% endif %}>{{ page.date | date: '%B %d, %Y' }}</time></span>
      </div>
      {% endunless %}
      {% endif %}
      {% endunless %}
    </div>
  </div>
  {% if is_top == true %}
  <div class="container">
    <img class="authorIcon authorIcon-isPinned" src="{% asset_path 'images/logo-200.png' %}"
         alt="{{ site.author.screen_name }}"/>
    <p class="authorSummary">I'm makoto_kw, a Software Engineer, Full Stack, Japanese and live in Tokyo.</p>
    <div class="row">
      <ul class="menuLang">
        {% if lang == 'ja' %}
        <li class="menuLangItem menuLangItem-en">
          <a href="/" class="btn menuLangButton">English</a>
        </li>
        <li class="menuLangItem menuLangItem-ja menuLangItem-active">
          <a href="/ja/" class="btn menuLangButton">Japanese</a>
        </li>
        {% else %}
        <li class="menuLangItem menuLangItem-en menuLangItem-active">
          <a href="/" class="btn menuLangButton">English</a>
        </li>
        <li class="menuLangItem menuLangItem-ja">
          <a href="/ja/" class="btn menuLangButton">Japanese</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% endif %}
</header>
