{% if layout.is_top == true %}
<header id="home" class="header">
  <div class="catchImage"></div>
  <div class="container">
    <img class="authorIcon authorIcon-isPinned" src="{% asset_path logo-200.png %}"
         alt="{{ site.author.screen_name }}"/>
    <p class="authorSummary">I'm makoto_kw, a Software Engineer, Full Stack, Japanese and live in Tokyo.</p>
    <div class="row">
      <ul class="menuLang">
        {% if page.lang == 'ja' %}
        <li class="menuLangItem menuLangItem-en">
          <a href="/" class="btn menuLangButton">English</a>
        </li>
        <li class="menuLangItem menuLangItem-ja menuLangItem-active">
          <a href="/ja/" class="btn menuLangButton">Japanese</a>
        </li>
        {% else %}
        <li class="menuLangItem menuLangItem-en menuLangItem-active">
          <a href="/" class="btn menuLangButton">English</a>
        </li>
        <li class="menuLangItem menuLangItem-ja">
          <a href="/ja/" class="btn menuLangButton">Japanese</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
{% else %}

{% if layout.is_single == true %}
<header class="header header-single">
  <div class="catchImage">
    <div class="container">
      <h1>{{ page.title }}</h1>
      {% unless page.meta == false %}
      <div class="header-meta">
        {% include post/categories.html %}
        {% include post/capture_dates.html %}{{ post_published }}
      </div>
      {% endunless %}
    </div>
  </div>
</header>
{% else %}
<header class="header">
  <div class="catchImage">
  </div>
</header>
{% endif %}

{% endif %}

