<header id="menuTop" class="menu-top">
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% if layout.is_top %}
            <a class="navbar-brand" href="#home">makotokw.com</a>
            {% else %}
            {% if page.lang == 'ja' %}
            <a class="navbar-brand" href="/ja/">makotokw.com</a>
            {% else %}
            <a class="navbar-brand" href="/">makotokw.com</a>
            {% endif %}
            {% endif %}

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if page.lang == 'ja' %}
                    {% if !layout.is_top %}
                    <li><a href="/ja/#home"><i class="fa fa-home"></i> Home</a></li>
                    {% endif %}
                    <li><a href="/ja/#blog"><i class="fa fa-book"></i> Blog</a></li>
                    <li><a href="/ja/portfolio"><i class="fa fa-briefcase"></i> Portfolio</a></li>
                    <li><a href="{{ site.github_url }}"><i class="fa fa-github-alt"></i> Github</a></li>
                    {% else %}
                    {% if !layout.is_top %}
                    <li><a href="/#home"><i class="fa fa-home"></i> Home</a></li>
                    {% endif %}
                    <li><a href="/#blog"><i class="fa fa-book"></i> Blog</a></li>
                    <li><a href="/portfolio"><i class="fa fa-briefcase"></i> Portfolio</a></li>
                    <li><a href="{{ site.github_url }}"><i class="fa fa-github-alt"></i> Github</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->
</header>
