<nav id="mainNavBar" class="mainNavBar">
  <div class="navbar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navBar-buttonContainer">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navBarItems">
          <div class="navItem navItem-home">
            {% if layout.is_top %}
            <a href="#home"><i class="fa fa-home"></i></a>
            {% else %}
            {% if page.lang == 'ja' %}
            <a href="/ja/#home"><i class="fa fa-home"></i></a>
            {% else %}
            <a href="/#home"><i class="fa fa-home"></i></a>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right navBarItems">
          {% if page.lang == 'ja' %}
          <li class="navItem navItem-portfolio"><a href="/ja/portfolio"><i class="fa fa-briefcase"></i> Software</a></li>
          <li class="navItem navItem-gitHub"><a href="{{ site.github_url }}"><i class="fa fa-github-alt"></i> Code</a></li>
          <li class="navItem navItem-blog"><a href="/ja/#blog"><i class="fa fa-book"></i> Blog</a></li>
          <li class="navItem navItem-qiita"><a href="{{ site.qiita_url }}"><i class="fa fa-search"></i> Qiita</a></li>
          {% else %}
          <li class="navItem navItem-portfolio"><a href="/portfolio"><i class="fa fa-briefcase"></i> Software</a></li>
          <li class="navItem navItem-gitHub"><a href="{{ site.github_url }}"><i class="fa fa-github-alt"></i> Code</a></li>
          <li class="navItem navItem-blog"><a href="/#blog"><i class="fa fa-book"></i> Blog</a></li>
          {% endif %}
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
</nav>
