{% if is_top %}
{% assign home_url = "#top" %}
{% else %}
{% if lang == 'ja' %}
{% assign home_url = "/ja/" %}
{% else %}
{% assign home_url = "/" %}
{% endif %}
{% endif %}
<nav id="mainNavBar" class="mainNavBar">
  <div class="navbar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navBarItems">
          <div class="navItem navItem-home">
            <a href="{{ home_url }}">
              <img class="logo-image" src="{% asset_path images/logo-200.png %}" alt="{{ site.author.screen_name }}" />
              <div class="logo-suffixText"><span class="logo-suffixText-first">AKOTO_</span><span class="logo-suffixText-last">KW</span></div>
            </a>
          </div>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-content navBarItems">
        {% if lang == 'ja' %}
        <li class="navItem navItem-portfolio"><a href="/ja/portfolio"><i class="fa fa-briefcase"></i> Software</a></li>
        <li class="navItem navItem-gitHub"><a href="{{ site.github_url }}"><i class="fa fa-github"></i> Code</a></li>
        <li class="navItem navItem-blog"><a href="{{ site.blog_ja_url }}"><i class="fa fa-book"></i> Blog</a></li>
        <li class="navItem navItem-qiita"><a href="{{ site.qiita_url }}"><i class="fa fa-search"></i> Qiita</a></li>
        {% else %}
        <li class="navItem navItem-portfolio"><a href="/portfolio"><i class="fa fa-briefcase"></i> Software</a></li>
        <li class="navItem navItem-gitHub"><a href="{{ site.github_url }}"><i class="fa fa-github"></i> Code</a></li>
        <li class="navItem navItem-blog"><a href="/blog"><i class="fa fa-book"></i> Blog</a></li>
        {% endif %}
      </ul>
    </div><!-- /.container -->
  </div><!-- /.navbar -->
</nav>
