<div id="prePage" class="pre-page"></div>
<div id="homeView">

    <section id="pageHome" class="page page-section page-home">
        <div class="container">
            <div class="row row-site-info">
                <h1 class="site-name"><span class="domain-site">makotokw</span>.<span class="domain-top">com</span></h1>
            </div>
            <div class="row row-site-menu">
                <ul id="menuHome" class="menu-home">
                    <li class="menu-home-item">
                        <a class="circle-menu" href="#blog"><span class="label-link">Blog</span></a>
                        <span class="arrow"><i class="fa fa-chevron-down"></i></span>
                    </li>
                    <li class="menu-home-item">
                        <a class="circle-menu" href="#portfolio"><span class="label-link">portfolio</span></a>
                        <span class="arrow"><i class="fa fa-chevron-down"></i></span>
                    </li>
                    <li class="menu-home-item">
                        <a class="circle-menu" href="#socialCoding"><span class="label-link">Social Coding</span></a>
                        <span class="arrow"><i class="fa fa-chevron-down"></i></span>
                    </li>
                    <li class="menu-home-item">
                        <a class="circle-menu" href="#programingMemo"><span class="label-link">Programing Memo</span></a>
                        <span class="arrow"><i class="fa fa-chevron-down"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <section id="pageBlog" class="page page-section page-blog">
        <div class="container">
            {% if page.lang == 'ja' %}
            <h2 class="section-title"><span>Blog</span> on <a href="{{ site.blog_ja_url }}" title="kwLog">Kwlog</a></h2>
            <div id="feedBlogContent" class="feed-content feed-content-blog">
                <i class="fa fa-spinner fa-spin"></i>
                Loading...
            </div>
            {% else %}
            <h2 class="section-title"><i class="fa fa-book"></i> <a href="{{ site.path }}/blog/" title="blog">Blog</a></h2>
            <div class="feed-content  feed-content-blog">
                <ul class="list-feed-entry list-unstyled">
                    {% for post in site.posts limit: 5 %}
                    <li class="feed-entry">
                            <span class="entry-published">
                                {{ post.date|date: "%Y/%m/%d" }}
                            </span>
                            <span class="entry-title">
                                <a href="{{ site.path }}{{ post.url }}">{{ post.title }}</a>
                            </span>
                        <p class="entry-summary">{{ post.content|strip_html|truncate:100 }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </section>


    <section id="pagePortfolio" class="page page-section page-portfolio">
        <div class="container">
            <h2 class="section-title">My <span>Portfolio</span></h2>
            <div id="portfolioTagListView"></div>
            <div id="portfolioListView"></div>
        </div>
    </section>

    <section id="pageSocialCoding" class="page page-section page-code">
        <div class="container">
            <h2 class="section-title"><span>Social Coding</span> on <a href="{{ site.github_url }}" title="GitHub">GitHub</a></h2>
            <div id="feedGithubContent" class="feed-content feed-content-blog">
                <i class="fa fa-spinner fa-spin"></i>
                Loading...
            </div>
        </div>
    </section>

    <section id="pageProgramingMemo" class="page page-section page-memo">
        <div class="container">
            <h2 class="section-title"><span>Programing Memo</span> on <a href="{{ site.qiita_url }}" title="Qiita">Qiita</a></h2>
            <div id="feedQiitaContent" class="feed-content feed-content-blog">
                <i class="fa fa-spinner fa-spin"></i>
                Loading...
            </div>
        </div>
    </section>

</div>