// page-portfolio
.portfolioTagList {
  @include clearfix;
  .portfolioTag {
  }
  .portfolio-tagCategory {
    width: 300px;
    float: left;
  }
  .portfolio-tagCategory-title {
    margin-top: 0;
    font-family: 'NovecentowideLightRegular', serif;
  }
}

.portfolioTag {
  font-size: 10px;
  border-radius: $border-radius;
  margin: 4px;
  padding: 4px 8px;
  background-color: $blue-dark;
  color: $white;
  font-family: 'NovecentowideLightRegular', serif;
}

.portfolioList {
  margin-top: 20px;

  .portfolioItem {
    width: 25%;
    min-width: 310px;
    margin: 4px;

    &.portfolioItem-large {
      width: 50%;
    }
  }
  .portfolioItem-image {
    margin-bottom: 4px;
  }
  .portfolioItem-title,
  .portfolioItem-tags {
    display: inline;
  }
  .portfolioItem-title {
    font-weight: bold;
  }

}
