.archives {

  .archives-title {
    font-family: $pageTitle-font;
    font-weight: $pageTitle-fontWeight;
  }

  .year {
    color: $blue-dark;
    margin-top: 0;
    font-weight: normal;
    font-family: 'NovecentowideBookBold';
  }

  .entry {
    position: relative;
    margin-bottom: 20px;

    .entry-title {
      font-size: 1.5em;
      //font-size: $baseFontSize;
      line-height: 1.4em;
      font-weight: normal;
      margin: 0 0 10px 0;
    }
  }

  .archives-entries {
    margin-top: 20px;
    .row-fluid {
      margin-top: 20px;
    }
  }
}

.archives-blog {
  .entry {
    padding-left: 4.5em;
    padding-bottom: .7em;
    margin-bottom: 1em;

    time {
      position: absolute;
      text-align: right;
      left: 0;
      top: 5px;
    }
  }
}

.archives-portfolio {
  .entry {
    .entry-title {
      margin-left: 10px;
      margin-bottom: 0;
      display: inline-block;
    }
    .entry-category {
      padding: 4px 8px;
      background-color: $blue-dark;
      color: $white;
      font-family: 'NovecentowideLightRegular';
    }
  }
  .entry-isActive {
    .entry-title {
      font-weight: bold;
    }
  }
  .entry-isDeprecated {
    .entry-title {
      font-weight: normal;
      a {
        color: $grey-500;
        text-decoration: line-through;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.badge-portfolio {
  background-color: $blue-dark;
  color: $grey-50;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 300;
  margin-right: 5px;
  a {
    color: $grey-50;
  }
}
.badge-portfolio-source {
  margin-left: 4px;
  background-color: $grey-200;
  color: $blue-dark;
  a {
    color: $blue-dark;
  }
  .fa {
    font-size: 1.3em;
  }
}
