@font-face {
  font-family: 'NovecentowideBookBold';
  src: url($fonts-path + '/Novecentowide-Bold-webfont.eot');
  src: url($fonts-path + '/Novecentowide-Bold-webfont.eot?#iefix') format('embedded-opentype'), url($fonts-path + '/Novecentowide-Bold-webfont.woff') format('woff'), url($fonts-path + '/Novecentowide-Bold-webfont.ttf') format('truetype'), url($fonts-path + '/Novecentowide-Bold-webfont.svg#NovecentowideBookBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NovecentowideLightRegular';
  src: url($fonts-path + '/Novecentowide-Light-webfont.eot');
  src: url($fonts-path + '/Novecentowide-Light-webfont.eot?#iefix') format('embedded-opentype'), url($fonts-path + '/Novecentowide-Light-webfont.woff') format('woff'), url($fonts-path + '/Novecentowide-Light-webfont.ttf') format('truetype'), url($fonts-path + '/Novecentowide-Light-webfont.svg#NovecentowideLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: $root-font-size;
}

.year, .month, .day,
.published {
  font-family: $font-family-date;
  text-transform: uppercase;
  color: $gray-light;
}

.block-content {
  @include block($border-radius);
  color: $white;
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

.autoTableBordered {
  table {
    @extend .table;
    @extend .table-bordered;
  }
}

::selection {
  color: $white;
  background: $cyan-300;
}


