.header {
  .catchImage {
    min-height: 300px;
    background-color: $blue-dark;
    background: linear-gradient(rgba($blue-dark, .4), rgba($blue-dark, .4)), 50% url('~@assets/images/bg_header_shirahigejinja.jpg');
    background-size: cover;

    .site-top & {
      background: 50% url('~@assets/images/bg_header_shirahigejinja.jpg');
      background-size: cover;
    }

    .container {
      padding: 2em;
      color: $white;
      line-height: normal;
      text-align: center;

      h1 {
        font-family: $font-family-page-title;
        font-weight: $font-weight-page-title;
        margin: 90px auto 0;
        font-size: 46px;
        word-wrap: break-word;
        color: $white;

        .site-single & {
          font-family: $font-family-sans-serif;
          font-weight: 400;
        }
      }
      .header-meta {
        font-size: 2rem;
        font-style: italic;
        line-height: 1.8;
        margin: 0 auto 32px;
      }
      .entry-categories {
        text-transform: uppercase;
      }
      .entry-date {
        margin-left: 1em;
        .published {
          color: $white;
        }
      }
    }
  }

  @include mobileScreen() {
    .catchImage {
      min-height: 200px;
      .container {
        text-align: left;
        h1 {
          margin: 115px auto 0;
          font-size: 32px;
        }
      }
    }
  }
}
