$mainNavBarHeight: 65px;
$mainNavLogoSize: 48px;

.mainNavBar {
  min-height: $mainNavBarHeight;
  line-height: $mainNavBarHeight;

  // reset bootstrap navbar
  &.navbar {
    margin: 0;
    padding: 0 10px;
    background: rgba($main-navbar-bg, 0.5);
  }
  a, button {
    outline: none;
  }

  // layout brand
  .navbar-brand {
    margin: -4px 0 0 0;
    padding: 0;
    min-height: $mainNavBarHeight;
  }

  .navbar-brand {
    text-decoration: none;
    .logo-image,
    .logo-suffixText {
      width: $mainNavLogoSize;
      height: $mainNavLogoSize;
      line-height: $mainNavLogoSize;
      border-radius: 1.5em;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
    }

    .logo-suffixText {
      background: $main-navbar-logo-bg;
      color: white;
      font-size: 16px;
      font-weight: bold;
      margin-left: -0.75em;
      padding: 0 1.25em 0 0.75em;
      text-align: left;
      -webkit-transition: width ease-out 0.2s;
      -moz-transition: width ease-out 0.2s;
      transition: width ease-out 0.2s;
      -webkit-transform: translateZ(0px);

      .logo-suffixText-first {
        display: none;
      }

      .logo-suffixText-last {
        display: inline;
      }
    }
  }

  .navbar-brand {
    &:hover,
    &:active,
    &:focus {
      .logo-suffixText {
        width: 7.25em;
      }
      .logo-suffixText-first {
        display: inline;
      }
      .logo-suffixText-last {
      }
    }
  }

  // reset bootstrap navbar-nav
  .navbar-nav {
    .nav-item {
      font-size: $font-size-sm;
      margin-top: 0;
      margin-bottom: 0;
      .nav-link {
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 400;
        text-transform: uppercase;
        min-height: $mainNavBarHeight;
        line-height: $mainNavBarHeight;
        color: $main-navbar-color;
        &:hover {
          color: $main-navbar-hover-color;
        }
      }
    }
  }

  .navbar-collapse {
    &.show, &.collapsing {
      .navbar-nav {
        padding: .5em;
        background: rgba($main-navbar-bg, 0.8);
        .nav-link {
          min-height: $mainNavBarHeight * 0.6;
          line-height: $mainNavBarHeight * 0.6;
        }
      }
    }
  }
}

.mainNavBar {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  .navbar {
    margin-bottom: 0;
  }
}

.headroom {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
  &.mainNavBar {
    border-bottom: 1px solid rgba($grey-300, 0.3);
  }
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom--not-top {
  &.mainNavBar {
    background: $main-navbar-bg;
  }
}
.headroom--top {
  &.mainNavBar {
    border-bottom: none;
    background: rgba($main-navbar-bg, 0.5);
  }
}
