$mainNavBarHeight: 65px;
$mainNavBarBackgroundColor: $white;
$mainNavLinkColor: $mainNav-color;
$mainNavLinkOverColor: lighten($mainNavLinkColor, 10%);

.mainNavBar {
  min-height: $mainNavBarHeight;
  line-height: $mainNavBarHeight;
  background: rgba($mainNavBarBackgroundColor, 0.5);

  a, button {
    outline: none;
  }

  .navbar-brand {
    margin-top: -2px;
  }

  .navbar-brand {
    text-decoration: none;
    .logo-image,
    .logo-suffixText {
      width: 3em;
      height: 3em;
      border-radius: 1.5em;
      display: inline-block;
      line-height: 3;
      vertical-align: middle;
      box-sizing: border-box;
    }

    .logo-suffixText {
      background: $logo-backgroundColor;
      color: white;
      font-weight: bold;
      margin-left: -0.75em;
      padding: 0 1.25em 0 0.75em;
      text-align: left;
      -webkit-transition: width ease-out 0.2s;
      -moz-transition: width ease-out 0.2s;
      transition: width ease-out 0.2s;
      -webkit-transform: translateZ(0px);

      .logo-suffixText-first {
        display: none;
      }

      .logo-suffixText-last {
        display: inline;
      }
    }
  }

  .navbar-brand {
    &:hover,
    &:active,
    &:focus {
      .logo-suffixText {
        width: 7.25em;
      }
      .logo-suffixText-first {
        display: inline;
      }
      .logo-suffixText-last {
      }
    }
  }

  // reset bootstrap navbar-nav
  .navbar-nav {
    .nav-item {
      font-size: $font-size-small;
      margin-top: 0;
      margin-bottom: 0;
      .nav-link {
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 400;
        text-transform: uppercase;
        min-height: $mainNavBarHeight;
        line-height: $mainNavBarHeight;
        color: $mainNavLinkColor;
        &:hover {
          color: $mainNavLinkOverColor;
        }
      }
    }
  }
}

.mainNavBar {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  .navbar {
    margin-bottom: 0;
  }
}

.headroom {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
  &.mainNavBar {
    border-bottom: 1px solid rgba($grey-300, 0.3);
  }
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom--not-top {
  &.mainNavBar {
    background: $mainNavBarBackgroundColor;
  }
}
.headroom--top {
  &.mainNavBar {
    border-bottom: none;
    background: rgba($mainNavBarBackgroundColor, 0.5);
  }
}
