/* = Note styling
-------------------------------------------------------------- */

@mixin note-block ($color, $bg, $border) {
  display: block;
  margin: 24px 0;
  padding: 24px;
  background-color: $bg;
  border: 2px solid $border;
  border-radius: $border-radius;

  a {
    color: $color;
  }

  &:before {
    color: $color;
  }
  &:after {
    clear: both;
  }
}

.note {
  .syntaxhighlighter {
    width: auto;
  }
}

.note-link {
  @extend .note;
  &:before {
    @extend .fa-bookmark, :before;
  }
}

.note-comment {
  @extend .note;
  &:before {
    @extend .fa-comment, :before;
  }
}

.note-ins {
  @extend .note;
  &:before {
    @extend .fa-comment, :before;
  }
}

.enclosure {
  @extend .note;
  &:before {
    @extend .fa-file, :before;
  }
}
.enclosure-evernote {
  @extend .enclosure;
  &:before {
    @extend .fa-file, :before;
  }
}
.enclosure-qiita {
  @extend .enclosure;
  &:before {
    @extend .fa-search, :before;
  }
}
.enclosure-github {
  @include note-block(#333, #f3f3f3, #f3f3f3);
  @extend .enclosure;
  &:before {
    @include block-before-withAwesomeBrandIcon(2em);
    @extend .fa-github-alt, :before;
  }
}
