/* = Note styling
-------------------------------------------------------------- */

@mixin note-block($color, $bg, $border) {
  display: block;
  margin: 24px 0;
  padding: 24px;
  background-color: $bg;
  border: 2px solid $border;
  border-radius: $border-radius;

  a {
    color: $color;
  }

  &:before {
    color: $color;
  }
  &:after {
    clear: both;
  }
}

.note {
  .syntaxhighlighter {
    width: auto;
  }
}

.note-link {
  @extend .note;
  &:before {
    @include fa-icon-solid($fa-var-bookmark);
  }
}

.note-comment {
  @extend .note;
  &:before {
    @include fa-icon-solid($fa-var-comment);
  }
}

.note-ins {
  @extend .note;
  &:before {
    @include fa-icon-solid($fa-var-comment);
  }
}

.enclosure-file {
  @extend .note;
  &:before {
    @include fa-icon-solid($fa-var-file);
  }
}
.enclosure-qiita {
  @extend .note;
  &:before {
    @include fa-icon-solid($fa-var-search);
  }
}
.enclosure-github {
  @include note-block(#333, #f3f3f3, #f3f3f3);
  @extend .note;
  &:before {
    @include block-before-withAwesomeBrandIcon(2em);
    @include fa-icon-solid($fa-var-github);
  }
}
