$section-title-font-size: 50px;

$lang-menu-item-width: 170px;
$lang-menu-item-height: 45px;

$page-home-title-font-size: 60px;
$page-home-height: 450px;
$page-home-width: 1170px;

.profile {
  text-align: center;

  .authorIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    position: relative;
    border: 2px solid $white;
    border-radius: 50px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.35);
  }
  .authorIcon-isPinned {
    top: -50px;
    margin-bottom: -50px;
  }
  .authorSummary {
    margin-top: 1em;
    text-align: center;
  }
}

%entry-link {
  color: $body-color;
  &:hover {
    color: $link-hover-color;
  }
}
%entry-title {
  font-size: $font-size-lg;
  display: inline;
  font-weight: normal;
}
%entry-dateBadge {
  @extend .badge;
  border-radius: 0;
  font-size: $font-size-sm;
  display: inline;
  margin-right: .5em;
  padding: 3px 6px;
  line-height: 1.2em;
  color: $white;
  background-color: $blue;
}
%entry-summary {
  font-size: $font-size-sm;
  color: $gray-dark;
  padding: 6px 0;
}

%entry-link-isInverted {
  color: $white;
  &:hover {
    color: $link-hover-color;
  }
}
%entry-summary-isInverted {
  color: $silver;
}

%topSection-ghostButton {
  @include ghostButton($lang-menu-item-width, $lang-menu-item-height, 12px, 8px);
  border: 1px solid $blue-dark;
  color: $blue-dark;
  &:hover {
    border: 1px solid rgba($blue-dark, .5);
    color: rgba($blue-dark, .5);
    background: transparent;
  }
}

%topSection-ghostButton-isInverted {
  border: 1px solid $white;
  color: $white;
  &:hover {
    border: 1px solid rgba($white, .5);
    color: rgba($white, .5);
    background: transparent;
  }
}

.topSection {
  padding: 60px 0;
  background-size: cover;
  background-position: top center;

  .container {
    position: relative;
    overflow: hidden;
  }

  .topSectionTitle {
    font-size: $section-title-font-size;
    line-height: $section-title-font-size;
    margin-bottom: $section-title-font-size * 0.4;
    font-weight: normal;
    font-family: 'NovecentowideBookBold';
  }

  .topSubSectionTitle {
    font-size: $section-title-font-size * 0.8;
    line-height: $section-title-font-size * 0.8;
    margin-top: $section-title-font-size * 0.2;
    margin-bottom: $section-title-font-size * 0.4;
    font-weight: normal;
    font-family: 'NovecentowideBookBold';
  }

  .topSubSectionFooter {
    @include clearfix();
  }

  .archiveButton {
    @extend %topSection-ghostButton;
    @extend .float-right;
  }

  .entry {
    margin-bottom: 1em;
    a {
      @extend %entry-link;
    }
    .entry-header {
      .entry-title {
        @extend %entry-title;
      }
      .entry-date {
        @extend %entry-dateBadge;
      }
    }
    .entry-summary {
      @extend %entry-summary;
    }
  }

  &:nth-child(odd) {
    background: $blue-dark;
    color: $white;
    .entry {
      a {
        @extend %entry-link-isInverted;
      }
      .entry-header {
        .entry-title {
          color: $white;
        }
      }
      .entry-summary {
        @extend %entry-summary-isInverted;
      }
    }
    .archiveButton {
      @extend %topSection-ghostButton-isInverted;
    }
  }
}

.menuLang {
  list-style: none;
  margin: 35px auto 10px auto;
  padding: 0;
  width: ($lang-menu-item-width + 20) * 2 + 10;

  .menuLangItem {
    display: inline-block;
    margin: 5px 10px;
  }

  .menuLangButton {
    @extend %topSection-ghostButton;
  }

  @include mobileScreen {
    margin: 10px auto;
    width: ($lang-menu-item-width/2 + 20) * 2 + 10;
    .menuLangButton {
      width: auto;
    }
  }
}

//@import "top/page-portfolio";

.topSection-portfolio {
}

.topSubSection-github {
  .gitHubCards {
    clear: both;
    padding: 15px;
    min-height: 516px;
  }
}

.topSubSection-qiita {
  .entry {
    .entry-header {
      .entry-date {
        background-color: $green;
      }
    }
  }
}

// ======================================
// responsive
// ======================================

@include desktopScreen() {
}

@include mobileScreen() {
  .topSection {
    padding: 30px 20px 30px 20px;
  }
  .topSectionTitle {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}


@media print {
  .header {
    .catchImage {
      display: none;
    }
  }
  .menuLang {
    display: none;
  }
}
