@import url("//fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:300,400,700,900,400italic");

$fonts-path: "../fonts";

$default-font: 'Open Sans', Helvetica, Arial, sans-serif;
$pageTitle-font: 'NovecentowideBookBold';
$pageTitle-fontWeight: 'normal';

$logo-backgroundColor: #3E5771;
$mainNav-color: $blue-dark;

  // ------------------------------
// Font paths for vendor
// ------------------------------

$fa-font-path: '~@fortawesome/fontawesome-pro/webfonts';
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

// ------------------------------
// Brand colors for bootstrap-sass
// ------------------------------

$brand-primary: $blue-light;
$brand-primary: #2C3E50;
$brand-success: #18BC9C;
$brand-warning: #F39C12;
$brand-danger: #E74C3C;
$brand-info: #3498DB;

// ------------------------------
// Scaffolding for bootstrap-sass
// ------------------------------

$body-bg: $white;
$text-color: $gray-darker;

// ------------------------------
// Links for bootstrap-sass
// ------------------------------

$link-color: $blue-light;
$link-hover-color: lighten($link-color, 5%);

// ------------------------------
// text for bootstrap-sass
// ------------------------------

$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-sans-serif-alt: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-family-alt: $font-family-serif;

$font-size-base: 18px;
$font-size-large: ceil($font-size-base * 1.25); // ~20px
$font-size-small: ceil($font-size-base * 0.85); // ~14px
$font-size-mini: ceil($font-size-base * 0.75); // ~12px

$line-height-base: 1.428571429; // 20/14
$line-height-computed: floor($font-size-base * $line-height-base); // ~20px

$headings-font-family: $font-family-base;
$headings-font-weight: 500;
$headings-line-height: 1.1;

$blockquote-font-size: $font-size-base;

// ------------------------------
// border for bootstrap-sass
// ------------------------------

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

// ------------------------------
// Navbar for bootstrap-sass
// ------------------------------

$navbar-default-color: $white;
$navbar-default-bg: $blue-dark; // $blue-light;
$navbar-default-border: $blue-dark; //$blue-light;

$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $navbar-default-link-color;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color: #ccc;
$navbar-default-link-disabled-bg: transparent;

$navbar-default-brand-color: $navbar-default-link-color;
$navbar-default-brand-hover-color: darken($navbar-default-link-color, 10%);
$navbar-default-brand-hover-bg: transparent;


