// page-portfolio
.portfolio-tag-list-view {
  @include clearfix;
  .portfolio-tag {
  }
  .portfolio-category-title {
    margin-top: 0px;
    font-family: 'NovecentowideLightRegular';
  }
  .portfolio-tag-category {
    width: 300px;
    float: left;
  }
}

.portfolio-tag {
  font-size: 10px;
  border-radius: 9px;
  margin: 4px;
  padding: 4px 8px;
  background-color: $blue-dark;
  color: $white;
  font-family: 'NovecentowideLightRegular';
}

.portfolio-list-view {
  margin-top: 20px;
  .portfolio {
    width: 25%;
    min-width: 310px;
    margin: 4px;

    &.portfolio-large {
      width: 50%;
    }
  }
  .portfolio-image {
    margin-bottom: 4px;
  }
  .portfolio-name,
  .portfolio-tags {
    display: inline;
  }
  .portfolio-name {
    font-weight: bold;
  }

}