
@mixin block ($borderRadius) {
  padding: 24px;
  background-color: $white;
  background-color: $blue-light;
  border: 2px solid $blue-light;
  border-radius: $borderRadius;
}

@mixin block-awesome-icon($fontSize) {
  float: left;
  margin-right: 20px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal $fontSize FontAwesome;
  vertical-align: text-bottom;
}
